@import url('https://fonts.googleapis.com/css?family=Montserrat');


.weather {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 23%;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
  }


.icon {
    position: absolute;

    top: 15%;
    left: 40%;
    height: 5rem;
}
.conditions {
    top: 16%;
    left: 48%;
    font-family: 'Montserrat', sans-serif;
    
}